<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="End to End Regression Tests">
    <test name="dd">
        <classes>
            <!-- User Tests-->
            <class name="com.intuit.profile.DemoTest" />
        </classes>
    </test>
</suite>